.navigation {
  position: fixed;
  width: 100%;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 1.3rem;
  z-index: 1000;

  &__active {
    padding-bottom: 0.25rem;
    border-bottom: 0.2rem solid $color__primary;
  }

  @include mediaQ('>=desktop') {
    padding-left: 5rem;
    padding-right: 2rem;
  }
  ul {
    @include immaFlex($align: center, $just: space-between);

    li {
      color: $white;
      cursor: not-allowed;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.05rem;
    }

    li:nth-child(1) {
      @include immaFlex($align: center);
      img {
        width: 3rem;
        margin-right: 0.5rem;
      }

      h5 {
        margin-bottom: 1rem;
        span {
          margin-bottom: -1rem;
          font-size: 2rem;
          display: block;
        }
      }
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5),
    li:nth-child(6),
    li:nth-child(7),
    li:nth-child(8),
    li:nth-child(9) {
      display: none;

      @include mediaQ('>=desktop') {
        display: block;
        padding: 2rem 3rem;
      }
    }

    li:nth-child(2) {
      margin-left: auto;
    }

    li:nth-child(10) {
      span {
        font-size: 3rem;
      }

      @include mediaQ('>=desktop') {
        display: none;
      }
    }
  }
}

.loading {
  display: none;
  @include mediaQ('>=desktop') {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color__primary;
    height: 0.5vh;
    width: 100%;
    left: -100%;
    opacity: 0.8;
    z-index: 1000;
  }
}
