*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // DEFINES WHAT 1 REM IS E.G. 1REM === 10PX
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05rem;
  max-width: 100%;
  overflow: hidden;
  background-color: #333;
  background: linear-gradient(rgba(#000, 0.15), rgba(#000, 0.15)),
    url('../../assets/imgs/desert.jpg') no-repeat center / cover;
  @extend %font-open;
}

/* ============================================
                     HEADERS
      ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-bebas;
}
/* ============================================
                     LISTS
      ============================================ */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection {
}
